{{{declarationTitle}}}

{{> comment}}

{{#if typeParameters}}

<h4>类型参数:</h4>
{{!-- ### 类型参数: --}}

{{#with typeParameters}}

{{{parameterTable 'typeParameters'}}}

{{/with}}

{{/if}}

{{#if type.declaration}}

{{#if type.declaration.children}}

<h4>参数:</h4>
{{!-- ### 参数: --}}

{{#with type.declaration.children}}

{{{propertyTable ../kind}}}

{{/with}}

{{/if}}

{{/if}}

{{#ifCond kindString '==' 'Object literal'}}

<h4>属性:</h4>
{{!-- ### 属性: --}}

{{#with children}}

{{{propertyTable ../kind}}}

{{/with}}

{{/ifCond }}

{{> comment.tags.all}}

{{> member.sources}}